# Discord Configuration
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_CLIENT_SECRET=
OWNER_ID=

# App Configuration
PORT=3000
APP_BASE_URL=http://localhost:3000

# Vikunja Configuration
VIKUNJA_API_URL=
VIKUNJA_API_TOKEN=
VIKUNJA_PROJECT_ID=
VIKUNJA_BUCKET_BACKLOG_ID=
VIKUNJA_BUCKET_INPROGRESS_ID=
VIKUNJA_BUCKET_PAUSED_ID=
VIKUNJA_BUCKET_DONE_ID=

# Actual Server URL
ACTUAL_SERVER_URL=
ACTUAL_PASSWORD=
ACTUAL_SYNC_ID=

# Gemini AI Configuration
GEMINI_API_KEY=
GEMINI_PARSER_MODEL=gemini-2.5-flash
GEMINI_GENERAL_MODEL=gemini-3.5-flash

# Automation Configuration
APP_TIMEZONE=Asia/Jakarta
CRON_DAILY=30 15 * * 1-5
CRON_WRAPUP=0 20 * * 5